/*body {*/
    /*padding-top: 30px;*/
/*}*/
/*.starter-template {*/
    /*padding: 40px 15px;*/
    /*text-align: center;*/
/*}*/


/*--- # ---*/
.img_size300x200{width:300px; height:200px; margin:0 auto;}
.p_size40{height:40px; display:block; overflow:hidden;}
.div400{height:400px;}

